.col-lg-4
  .card.m-3
    .card-header{ class: "zfm-text-#{album.color}" }
      = album.title
    .card-body
      %table.table.table-borderless
        %tbody
          - album.tracks.each_with_index do |track, index|
            %tr
              %td.py-0
                = "%02d." % (index + 1)
              %td.py-0
                = track
              - if @past_setlists.present?
                - @past_setlists.each do |setlist|
                  - if setlist.songs.include?(track)
                    %td.px-0.py-0{ class: "zfm-text-#{album.color}" }
                      &#x2592
                  - else
                    %td.text-black.px-0.py-0
                      &#x2592
              - @setlists.each do |setlist|
                - unless setlist.songs.empty?
                  - if setlist.songs.include?(track)
                    %td.px-0.py-0{ class: "zfm-text-#{album.color}" }
                      &#x2588
                  - else
                    %td.px-0.py-0.text-black
                      &#x2588

