.zfm-divider
.container
  %p.d-inline-flex.gap-1
  %button.btn.btn-dark.my-2{"aria-controls" => "collapseSetlists", "aria-expanded" => "false", "data-bs-target" => "#collapseSetlists", "data-bs-toggle" => "collapse", :type => "button"}
    Setlists
  #collapseSetlists.collapse
    = render "legend"
    .row
      = render @setlists

.zfm-divider

.container
  %p.d-inline-flex.gap-1
  %button.btn.btn-dark.my-2{"aria-controls" => "collapseAlbums", "aria-expanded" => "false", "data-bs-target" => "#collapseAlbums", "data-bs-toggle" => "collapse", :type => "button"}
    Albums
  #collapseAlbums.collapse
    .row
      = render @albums
.zfm-divider

.container
  %p.d-inline-flex.gap-1
  %button.btn.btn-dark.my-2{"aria-controls" => "collapseSongs", "aria-expanded" => "false", "data-bs-target" => "#collapseSongs", "data-bs-toggle" => "collapse", :type => "button"}
    Songs
  #collapseSongs.collapse
    = render partial: "songs"

    - if spotify_user_authenticated?
      = button_to "Save as a spotify playlist", "/spotify", playlist_button_attributes
    - else
      = button_to "Log in to spotify", "/auth/spotify", data: { turbo: false }, class: "btn btn-dark text-success px-5 my-5", type: "button"
.zfm-divider

